<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a *ngIf="!login.isLoggedIn()" [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon mr20 ml20"
        aria-label="Example icon-button with heart icon">
        Login
    </a>
    <a *ngIf="!login.isLoggedIn()" [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon ml20"
        aria-label="Example icon-button with heart icon">
        Register
    </a>


    <a (click)="logout()" *ngIf="login.isLoggedIn()" mat-icon-button class="example-icon favorite-icon ml20"
        aria-label="Example icon-button with heart icon">
        Logout
    </a>
    <button *ngIf="login.isLoggedIn()" class="example-icon favorite-icon ml20"
        aria-label="Example icon-button with heart icon">
        {{login.getUser().username}}
    </button>

</mat-toolbar>