<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="mt20">
                    <mat-card-header>
                        <mat-card-title>Quiz Instructions</mat-card-title>
                        <mat-card-subtitle>One more step to Go...</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1 class="ml20">{{quiz.title}}</h1>
                        <p>{{quiz.description}}</p>
                        <ul>
                            <li>
                                You have to submit quiz within <b>{{quiz.numberOfQuestions*2}}Min.</b>
                            </li>
                            <li>
                                There are <b>{{quiz.numberOfQuestions}} Question</b>

                            </li>
                            <li>
                                Each Questions Carries <b>{{(quiz.maxMarks)/(quiz.numberOfQuestions)}} marks</b>
                            </li>
                        </ul>
                        <mat-divider></mat-divider>
                        <li>
                            The quizzes consists of questions carefully designed to help you self-assess your
                            comprehension of the information presented on the topics covered in the module. No data will
                            be
                            collected on the website regarding your responses or how many times you take the quiz.
                        </li>
                        <li>
                            Each question in the quiz is of multiple-choice or "true or false" format. Read each
                            question
                            carefully, and click on the button next to your response that is based on the information
                            covered on the topic in the module. Each correct or incorrect response will result in
                            appropriate feedback immediately at the bottom of the screen.
                        </li>
                        <li>
                            After responding to a question, click on the "Next Question" button at the bottom to go to
                            the
                            next questino. After responding to the 8th question, click on "Close" on the top of the
                            window
                            to exit the quiz.
                        </li>
                        <li>
                            If you select an incorrect response for a question, you can try again until you get the
                            correct
                            response. If you retake the quiz, the questions and their respective responses will be
                            randomized.
                        </li>
                        <li>
                            The total score for the quiz is based on your responses to all questions. If you respond
                            incorrectly to a question or retake a question again and get the correct response, your quiz
                            score will reflect it appropriately. However, your quiz will not be graded, if you skip a
                            question or exit before responding to all the questions.
                        </li>
                    </mat-card-content>
                    <mat-card-actions class="text-center">
                        <button mat-raised-button color="primary" (click)="startQuiz()"> Start
                            Quiz</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>